/* styles.css */
/* css file for mq-game */

body {
	background-color: #c5d5d9;
}

.menu {
	list-style-type: none;
	display: inline-block;
	background-color: blue;	/* hurts my eyes */
	width: 100px;
	text-align: center;
}

.menu a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	font: serif;	/* i want a nice font :( */
}

#qPane {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
}

#ansPane {
	position: absolute;
	top: 10;
	left: 10;
	z-index: 50;
	background-color: rgb(130, 189, 131);
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

#timerUI {
	position: relative;
	margin-left: 40px;
	/*background-color: rgb(175, 212, 226);*/
	width: 300px;
	height: 300px;
}

#answer input, #answer button {
	font-size: 50px;
}

#answer {
	margin-top: 100px;
	z-index: 20;
}

#btnSubmit {
	background-color: #1a951f;
	color: white;
}

/* text on the timer UI that displays the current seconds */
.progressbar-text {
	font-size: 100px;
	color: blue;
}

.ansLetter {
	color: rgb(148, 42, 18);
	font-size: 50px;
}

.ansCategory {
	/*color: */
}

.ansWord {

}

.ansTemp {
	width: 500px;
	height: 100px;
	background-color: rgb(230, 186, 116);
	margin-bottom: 20px;
	/*clear: both;*/
}

.rightAns {
	color: #27be46;
}

.wrongAns {
	color: #ba2420;
	cursor: pointer;
}

.almostAns {
	color: #cf7328;
	cursor: pointer;
}

.points {
	color: #06c978;
}

.totalPoints {
	width: 100px;
	height: 100px;
	/*color: ;*/
}

#question span {
	font-size: 50px;
}

#question span#letter {
	color: #18a1da;
	margin-left: 50px;
	font-size: 100px;
}

.ansLetter, #question span#letter {
	text-transform: uppercase;
}

#question {
	margin-top: 100px;
}

#timerUI {
	float: right;
	margin-right: 100px;
}
