/* styles.css */
/* css file for mq-game */

body {
	background-color: #c5d5d9;
}

#instructions img {
	border: 2px solid black;
}

/*.menu {
	list-style-type: none;
	display: inline-block;
	background-color: blue;
	width: 100px;
	text-align: center;
}

.menu a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	font: serif;
}*/

#gotoTop {
	position: fixed;
	left: 93%;
	top: 88%;
	fill: #1f5825;
	cursor: pointer;
}

.centerText {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	width: 500px;
	height: 80px;
	background-color: #2768b4;
	margin-bottom: 50px;
	margin-top: 50px;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;

	margin-left: auto;
	margin-right: auto;

}

.menu a {
	color: white;
	text-decoration: none;
	font-size: 50px;
	font: serif;	/* get a different one */
}

.menuHeading {
	margin-top: 300px;
}

#gameTitle {
	margin-top: 50px;
	text-align: center;

}

#qPane {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
}

#ansPane {
	position: absolute;
	top: 20;
	left: 10;
	z-index: 50;
	/*background-color: rgb(130, 189, 131);*/
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

#timerUI {
	position: relative;
	margin-left: 40px;
	/*background-color: rgb(175, 212, 226);*/
	width: 300px;
	height: 300px;
}

#answer input, #answer button {
	font-size: 50px;
	z-index: 20;
}

#answer {
	margin-top: 100px;
	/*z-index: 20;*/
}

#btnSubmit {
	background-color: #1a951f;
	color: white;
}

/* text on the timer UI that displays the current seconds */
.progressbar-text {
	font-size: 100px;
	color: blue;
}

.ansLetter {
	color: rgb(148, 42, 18);
	font-size: 50px;
}

.ansCategory {
	/*color: */
}

.ansWord {

}

.ansTemp {
	width: 500px;
	height: 100px;
	background-color: rgb(230, 186, 116);
	margin-bottom: 20px;
	/*clear: both;*/
}

.rightAns {
	color: #27be46;
}

.wrongAns {
	color: #ba2420;
	cursor: pointer;
}

.almostAns {
	color: #cf7328;
	cursor: pointer;
}

.points {
	color: #06c978;
	font-size: 40px;
	position: relative;
	left: 90%;
	top: -70%;

}

.totalPoints {
	width: 200px;
	height: 150px;
	background-color: #3ddab4;
	position: absolute;
	left: 70%;
	top: 10%;

	padding-top: 30px;
	text-align: center;
	/*vertical-align: middle;*/
	font-size: 80px;
}

#question span {
	font-size: 50px;
}

#question span#letter {
	color: #18a1da;
	margin-left: 50px;
	font-size: 100px;
}

.ansLetter, #question span#letter {
	text-transform: uppercase;
}

#question {
	margin-top: 100px;
}

#timerUI {
	float: right;
	margin-right: 100px;
}

#readyLeft, #readyRight {
	/*background-color: #c5d5d9;*/
	background-color: #92b1b9;
	/*background-color: rgb(247, 62, 164);*/
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	z-index: 30;
}

#readyRight {
	left: 50%;
}

#readyText {
	width: 20%;
	height: 20%;
	position: absolute;
	top: 25%;
	left: 40%;
	right: auto;
	z-index: 40;

	text-align: center;
	vertical-align: middle;
	font-size: 80px;
}

#btnRetry {
	position: fixed;
	left: 90%;
	top: 100px;
	z-index: 60;
}

#backHome {
	position: fixed;
	left: 90%;
	top: 200px;
}
